body {
    font-family: 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2c2c;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: #569cd6;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h2 {
    color: #4ec9b0;
    border-bottom: 1px solid #4ec9b0;
    padding-bottom: 0.5rem;
}

#about-me, #projects {
    background-color: #252526;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #9cdcfe;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #569cd6;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c2c2c;
    color: #d4d4d4;
}

/* for when more than one photo is taking up space */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 820px;
}

.image-grid img {
    width: 100%;
    height: auto;
}